<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Лесенка: сброс пароля</title>
    <link rel="icon" th:href="@{img/stair_l.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<header>
    <div th:insert="~{block/block :: headerAlter}"></div>
</header>
<main>
</main>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="glyphicon glyphicon-lock" style="font-size:2em;"></i></h3>
                        <h2 class="text-center">Сброс пароля</h2>
                        <div class="panel-body">

                            <div th:if="${error}">
                                <div class="alert alert-danger">
                                    <span th:text="${error}"></span>
                                </div>
                            </div>

                            <form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">

                                <p class="error-message"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Validation error</p>

                                <input type="hidden" name="token" th:value="${token}"/>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input id="password" class="form-control" placeholder="пароль" type="password" th:field="*{password}"/>
                                    </div>
                                    <p class="error-message" style="color: red" th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                                </div>
                                <br>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input id="confirmPassword" class="form-control" placeholder="Подтвердите пароль" type="password" th:field="*{confirmPassword}"/>
                                    </div>
                                    <p class="error-message" style="color: red" th:each="error: ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <button type="submit" class="btn btn-block btn-danger">Сброс пароля</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Новый пользователь? <a href="/" th:href="@{/reg}">Регистрация</a>
                </div>
                <div class="col-md-12">
                    Уже зарегистрирован? <a href="/" th:href="@{authorization}">Логин</a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<footer th:insert="~{block/block :: footer}"></footer>

</body>
</html>